# Example notebook with python_openobserve

SPDX-FileCopyrightText: 2025 The python_openobserve authors
SPDX-License-Identifier: CC-BY-SA-4.0

In [1]:
from python_openobserve.python_openobserve.openobserve import OpenObserve
# from python_openobserve.openobserve import OpenObserve

In [2]:
OO = OpenObserve(user = "root@example.com", password = "Complexpass#123")

In [3]:
from datetime import datetime
from random import random
from pprint import pprint
document = {
    "@timestamp" : datetime.utcnow(),
    "component" : "testagent",
    "action" : "buy", 
    "amount" : random() * 100,
    "portfolio" : {
        "USD" : random() * 100.0,
        "BTC" : 0.1 + random() * 0.1
    }
}
pprint(document)

{'@timestamp': datetime.datetime(2023, 7, 7, 9, 4, 59, 690455),
 'action': 'buy',
 'amount': 35.05436590293998,
 'component': 'testagent',
 'portfolio': {'BTC': 0.1180335246898746, 'USD': 43.87238795037881}}

In [4]:
OO.index("dd", document)

{'code': 200, 'status': [{'name': 'dd', 'successful': 1, 'failed': 0}]}

In [5]:
# example sql parsing helper
sql = 'SELECT * FROM "dd"'
results = OO.search(sql)
print(f"got {len(results)} results")
pprint(results)

got 5 results
[{'_timestamp': datetime.datetime(2023, 7, 7, 9, 4, 59, 690000),
  'action': 'buy',
  'amount': 35.05436590293998,
  'component': 'testagent',
  'portfolio_btc': 0.1180335246898746,
  'portfolio_usd': 43.87238795037881},
 {'_timestamp': datetime.datetime(2023, 7, 7, 9, 4, 34, 25000),
  'action': 'buy',
  'amount': 28.92515313993329,
  'component': 'testagent',
  'portfolio_btc': 0.16773784461846658,
  'portfolio_usd': 76.39125746521223},
 {'_timestamp': datetime.datetime(2023, 7, 7, 9, 3, 37, 357000),
  'action': 'buy',
  'amount': 61.349813817835496,
  'component': 'testagent',
  'portfolio_btc': 0.12675689460641565,
  'portfolio_usd': 12.473420458618143},
 {'_timestamp': datetime.datetime(2023, 7, 7, 9, 3, 24, 846000),
  'action': 'buy',
  'amount': 58.31903919643177,
  'component': 'testagent',
  'portfolio_btc': 0.14320411082698645,
  'portfolio_usd': 48.26752483107259},
 {'_timestamp': datetime.datetime(2023, 7, 7, 9, 2, 56),
  'action': 'buy',
  'amount': 94.61296936600242,
  'component': 'testagent',
  'portfolio_btc': 0.19542728256708897,
  'portfolio_usd': 71.45573592555233}]

In [6]:
import pandas as pd

df = pd.DataFrame(results)
df.head(20)

,_timestamp,action,amount,component,portfolio_btc,portfolio_usd
0,2023-07-07 09:04:59.690,buy,35.054366,testagent,0.118034,43.872388
1,2023-07-07 09:04:34.025,buy,28.925153,testagent,0.167738,76.391257
2,2023-07-07 09:03:37.357,buy,61.349814,testagent,0.126757,12.473420
3,2023-07-07 09:03:24.846,buy,58.319039,testagent,0.143204,48.267525
4,2023-07-07 09:02:56.000,buy,94.612969,testagent,0.195427,71.455736

In [7]:
# example sql parsing helper
sql = 'SELECT * FROM WHERE "dd"'
result = OO.search(sql)
pprint(result)

ParseError: Expected table name but got <Token token_type: TokenType.WHERE, text: WHERE, line: 1, col: 19, start: 14, end: 18, comments: []>. Line 1, Col: 19.
  SELECT * FROM WHERE "dd"